*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:khaki
}
.conatiner{
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  padding: 25px 30px 10px 25px;
}
button {
  width: 100%;
  border-radius: 7px;
  background-color: bisque;
  color: black;
  padding: 10px 11px;
}

.fname{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.lname{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.email{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.date{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.Message{
  display:flex;
  align-items: center;
  /* justify-content: center; */
}

.input{
  display:flex;
  align-items: center;
  width: 100%;
  margin:15px auto;
  /* justify-content: center; */
}